<h2> Template: Dinámicos </h2>
<hr>

<div class="row">

    <div class="col">

        <form [formGroup]="miFormulario">

            <!-- Radios -->

            <div class="row mb-3">

                <label class="col-sm-3 col-form-label"> Género* </label>

                <div class="col-sm-9 radio-item">

                    <div class="form-check ">

                        <input 
                            class="form-check-input" 
                            type="radio"
                            value="masculino"
                            formControlName="genero"
                            id="radioMaculino"
                        >
                        <label class="form-check-label" for="radioMaculino">
                         
                            Masculino
                        </label>

                    </div>

                    <div class="form-check">

                        <input 
                        
                            class="form-check-input" 
                            type="radio"
                            value="femenino"
                            formControlName="genero"
                            id="radioFemenino"
                        >
                        <label class="form-check-label" for="radioFemenino">
                         
                            Femenino
                        </label>
                    
                    </div>

                </div>

            </div>

            <!-- Switches -->

            <div class="row mb-3">

                <label class="col-sm-3 col-form-label"> Notificaciones </label>

                <div class="col-sm-9 switch-item">

                    <div class="form-check form-switch mt-2">

                        <input 

                            class="form-check-input" 
                            type="checkbox" 
                            role="switch"
                            formControlName="notificaciones" 
                            id="notificacionesSwtich"
                            onclick="blur()"
                        >
                        <label

                            class="form-check-label" 
                            for="notificacionesSwtich">
                            
                            Deseo recibir notificaciones
                        
                        </label>
                
                    </div>

                </div>

            </div>

            <!-- Checkbox -->

            <div class="row mb-3">

                <label class="col-sm-3 col-form-label"></label>

                <div class="col-sm-9 check-item">

                    <div class="form-check">
                        
                        <input 
                            class="form-check-input" 
                            type="checkbox" 
                            formControlName="condiciones"
                            id="flexCheckDefault"
                            onclick="blur()"
                            required
                        >
                        <label
                            class="form-check-label" 
                            for="flexCheckDefault">

                            Términos y condiciones de uso*

                        </label>
                    </div>

                    <span 
                        *ngIf="validatorService.validarCampos( miFormulario, 'condiciones', 'required')"
                        class="form-text text-danger"> 

                        Debe aceptar los términos y condiciones 
                    </span>

                </div>

                <div class="row" style="margin-top: 15px; margin-bottom: 10px;">
                    <div class="col">
    
                        <button 
    
                            type="button"
                            class="btn btn-info float-end"
                            (click)="guardar()"
                            id="boton-switches"
                        >
    
                            Guardar
                        </button>
                    </div>
                </div>

            </div>

        </form>

    <div>

</div>

<div style="margin-left: 5px;">

    <h5> Formulario Válido </h5>
    <pre> {{miFormulario.valid}} </pre>

    <h5> Valor del Formulario </h5>
    <pre>{{ miFormulario.value | json }}</pre>

    <h5> Persona </h5>
    <pre> {{persona | json}} </pre>

</div>